@-webkit-keyframes animateCloud {
    0% {
	margin-left: -1000px;
    }
    100% {
	margin-left: 70%;
    }
}

@-moz-keyframes animateCloud {
    0% {
	margin-left: -1000px;
    }
    100% {
	margin-left: 70%;
    }
}

@keyframes animateCloud {
    0% {
	margin-left: -1000px;
    }
    100% {
	margin-left: 70%;
    }
}

/* ANIMATIONS */

.move {
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#background {
	position: relative;
	height: 110%;
}
