@-webkit-keyframes animateCloud {
    0% {
	margin-left: -100%;
    }
    100% {
	margin-left: 0;
    }
}

@-moz-keyframes animateCloud {
    0% {
	margin-left: -100%;
    }
    100% {
	margin-left: 0;
    }
}

@keyframes animateCloud {
    0% {
	margin-left: -100%;
    }
    100% {
	margin-left: 0;
    }
}

@-webkit-keyframes animateGif {
    0% {
	margin-left: -480px;
    }
    100% {
	margin-left: 0;
    }
}

@-moz-keyframes animateGif {
    0% {
	margin-left: -480px;
    }
    100% {
	margin-left: 0;
    }
}

@keyframes animateGif {
    0% {
	margin-left: -480px;
    }
    100% {
	margin-left: 0;
    }
}

/* ANIMATIONS */

.move {
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.gif_move {
    -webkit-animation: animateGif 25s linear infinite;
    -moz-animation: animateGif 25s linear infinite;
    animation: animateGif 25s linear infinite;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0 auto;
    overflow: hidden;
}
.background-wrapper {
    height: 100%;
    width: 200%;
    display: flex;
    justify-content: flex-end;
}
    .background {
    	position: relative;
    	height: 110%;
        z-index: 10;
        margin-top: -95px;
    }

    .left {
        margin-left: -100%;
    }

.title {
    z-index: 30;
    position: relative;
    text-align: center;
}

/* GIF Styles */
.gif-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 50;
    margin-top: -40%;
}
