@-webkit-keyframes animateCloud {
    0% {
	margin-left: -1000px;
    }
    100% {
	margin-left: 70%;
    }
}

@-moz-keyframes animateCloud {
    0% {
	margin-left: -1000px;
    }
    100% {
	margin-left: 70%;
    }
}

@keyframes animateCloud {
    0% {
	margin-left: -1000px;
    }
    100% {
	margin-left: 70%;
    }
}

@-webkit-keyframes animateGif {
    0% {
	margin-left: -700%;
    }
    100% {
	margin-left: 0;
    }
}

@-moz-keyframes animateGif {
    0% {
	margin-left: -700%;
    }
    100% {
	margin-left: 0;
    }
}

@keyframes animateGif {
    0% {
	margin-left: -700%;
    }
    100% {
	margin-left: 0;
    }
}

/* ANIMATIONS */

.move {
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.gif_move {
    -webkit-animation: animateGif 55s linear infinite;
    -moz-animation: animateGif 55s linear infinite;
    animation: animateGif 55s linear infinite;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

#background {
	position: relative;
	height: 110%;
}

/* GIF Styles */
.gif-wrapper {
    display: flex;
    justify-content: space-between;
}
