<!DOCTYPE html>
<html>
    <head>
        <title>M S U</title>
		<link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <audio autoplay>
			<source src="media/macintosh_plus.mp3">
		</audio>
        <h1 class="title">M S U A E S T H E T I C</h1>
        <div class="move background-wrapper">
            <img class="background left" src="media/jazz2.jpg"/>
            <img class="background" src="media/jazz2.jpg"/>
        </div>
        <div class="gif-wrapper gif_move">
        {% for gif in gifs %}
            <div class='gif' id="{{ gif[1] }}">
                <a href="{{ gif[0]['url'] }}"><img src="{{ gif[0]['url'] }}" /></a>
            </div>
        {% endfor %}
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</html>
