<!DOCTYPE html>
<html>
    <head>
        <title>M S U</title>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/glitch.css">
    </head>
    <body> <!--style="background-image: url('./media/jazz2.jpg');" class="move"-->
		<div id="wrapper">
			<canvas id="stage">
			</canvas>
		</div>
		<form role="form" class="search" onsubmit="searchInit()">
        	<i class="fa fa-search"></i>
        	<input type="search" class="form-control searchbar" placeholder="Enter a url to begin">
        	<input type="submit" class="submit">
      	</form>
	  	<img id="vapor" src="media/vaporwave.gif"></img>
    </body>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
	<script src="./../js/glitch.js"></script>
	<script src="./../js/index.js"></script>
</html>
